<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/">PawSe</a></li>

            <li>
                <ul>
                    <li><a href="/">Overview</a></li>
                    <li><a href="/">User</a></li>   <!-- 관리자만 접근 가능 -->
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/join">Join</a></li>
                    <li><a href="/">Shop</a></li>

                </ul>
            </li>
        </ul>
    </nav>
</body>
</th:block>
</html>