
.login {
    width: 100%;
    padding: 30px 10px;
    font-family: "winco", sans-serif;
}
.login-container {
    background: #26577C;
    border-radius: 20px;
    padding: 50px;
}

.login h4{
    font-family: 'Luckiest Guy';
    text-align: center;
    color: #fff;
}
.login-form{
    display: grid;
}
.login-form input {
    margin: 10px 0;
}

.login-form button {
    margin: 10px 0;
}